<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DBGraph.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DBGraph.Properties.Settings.DBConnectionString" connectionString="Data Source=.\EXPRESS2014;Initial Catalog=AdventureWorks2014;Integrated Security=True;Connect Timeout=180"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <DBGraph.Properties.Settings>
            <setting name="YedOutputFilePath" serializeAs="String">
                <value>.\Dependencies.graphml</value>
            </setting>
            <setting name="Request" serializeAs="String">
                <value>exec [dbo].[GetGraphData] @EntityType='FKDependencies'</value>
            </setting>
        </DBGraph.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
